[mysqld]
slow_query_log = ON
slow_query_log_file = /var/lib/mysql/slow.log
long_query_time = 0.05
min_examined_row_limit = 100
log_output = FILE
log_queries_not_using_indexes = ON
log_slow_admin_statements = ON
performance_schema = ON
skip-name-resolve

[client]
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4
